@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-primary: #222831;
  --c-secondary: #393e46;
  --c-tertiary: #ffd369;
  --c-quarternary: #eeeeee;
  --c-white: #ffffff;
  --c-black: #000000;
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }

  .hero-section {
    background-image: url("./assets/landing.jpg");
    background-size: cover;
    background-position: center;
  }

  .hero-section::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--c-black);
    opacity: 0.6;
  }

  .title-snippet {
    display: inline-block;
  }

  .title-snippet::before {
    position: absolute;
    content: "";
    height: 0.2rem;
    width: 1rem;
    right: -1.2rem;
    top: 50%;
    transform: translate(-0%, -50%);
  }
}
